/* ---- reset ---- */
body {
  margin: 0;
  font: normal 75% Arial, Helvetica, sans-serif;
}
canvas {
  display: block;
  vertical-align: bottom;
} /* ---- particles.js container ---- */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #c7c7c7;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: -1;
} /* ---- stats.js ---- */
.count-particles {
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13e8e9;
  font-size: 0.8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  display: none;
}
.js-count-particles {
  font-size: 1.1em;
}
#stats,
.count-particles {
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}
#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}
.count-particles {
  border-radius: 0 0 3px 3px;
}

.container {
  position: relative;
  border: 2px solid red;
}

.logo-container {
}

.toilet-container {
  border: 0px solid red;
  margin-top: 100px;
}

.logo-container,
.toilet-container {
  margin-left: 100px;
}

.logo {
  width: 600px;
  text-align: right;
}

.carousel {
  border: 2px solid red;
}

.toilet {
  width: 100px;

  bottom: 0;
  left: 100px;
}

.one {
  width: 550px;
}

.about {
  position: absolute;
  width: 500px;
  text-align: justify;
  -moz-text-align-last: center;
  text-align-last: center;
  line-height: 30px;
  top: 10px;
  right: 15%;
  color: #0080c8;
}

.about p {
  font-size: 20px;
}

.form {
  text-align: center;
  border: 0px red solid;
}

form {
  margin: 0 auto;
}

.input {
  width: 500px;
  text-align: center;
  border-radius: 30px;
  padding: 20px 0 20px 0;
  opacity: 0.5;
}

.contact-text {
  color: white;
}

button {
  padding: 10px;
  margin: 10px;
}
